@font-face {
    font-family: 'Dense';
    src: url('../fonts/Dense-Regular.otf');
}

.root {
    -fx-background-color: #2a2d36;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-dark-text-color: white;
    -fx-mid-text-color: white;
    -fx-light-text-color: black;
}

.label {
    -fx-font-family: 'Roboto';
    -fx-font-size: 14px;
}

.text-field {
    -fx-border-color: #ffffff;
    -fx-background-color: transparent;
    -fx-dark-text-color: white;
    -fx-mid-text-color: white;
    -fx-light-text-color: black;
    -fx-border-radius: 5px;
}

.button {
    -fx-border-color: #ffffff;
    -fx-background-color: #373a44;
    -fx-dark-text-color: white;
    -fx-mid-text-color: white;
    -fx-light-text-color: black;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #313849;
    -fx-cursor: hand;
}

.main-buttons {
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;
}

.main-buttons:hover {
    -fx-background-color: #313849;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

#heading {
    -fx-font-family: 'Dense';
    -fx-font-size: 38px;
    -fx-padding: 50 0 0 -10;
}

.date-time-picker {
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-dark-text-color: black;
    -fx-mid-text-color: black;
    -fx-light-text-color: black;
}

.table-view {
    -fx-font-size: 12px;
    -fx-dark-text-color: black;
    -fx-mid-text-color: black;
    -fx-light-text-color: black;
    -fx-text-alignment: center;
}

.table-view .column-header .label {
    -fx-font-size: 10px;
    -fx-dark-text-color: black;
    -fx-mid-text-color: black;
    -fx-light-text-color: black;
}

.table-row-cell:selected {
    -fx-selection-bar: #2A2D36;
    -fx-dark-text-color: white;
    -fx-mid-text-color: white;
    -fx-light-text-color: white;
    -fx-text-alignment: center;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-column {
    -fx-alignment: CENTER;
}

.positive-status {
    -fx-dark-text-color: green;
    -fx-mid-text-color: green;
    -fx-light-text-color: green;
}

.negative-status {
    -fx-mid-text-color: red;
}


